body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.margin-y {
  margin-bottom: 50px;
}

.margin-y-s {
  margin-bottom: 20px;
}

.primary-color {
  color: #5ab9ea;
}

.secondary-color {
  color: #e64398
}

.current {
 color: #e64398
}

/* Home Section*/
.main-logo {
  height: 150px;
}

.nav {
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
}

.nav-item a:hover {
  color: #9e9e9e;
}

.carousel-item img{
  width: auto;
  height: 80vh;
  object-fit: cover;
}

.ingredient-wrapper {
  text-align: center;
  align-items: center;
  padding: 10px;
  border: none;
}

.ingredient {
  height: 200px;
  width: 80%;
  object-fit: cover;
  border: 1px solid #5ab9ea;
  padding: 20px;
}

#ingredients {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn-primary {
  background-color: #5ab9ea;
  border: none;
}

#main-footer {
  padding: 20px;
  background-color: #5ab9ea;
  color: #fff;
  text-align: center;
}

#main-footer p {
  margin: 0;
  font-size: 1.2rem;
}

/* Cupcakes section, photos */


.gallery-img-wrapper {
  padding:0;
  position: relative;
 
}

.gallery-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img-overlay {
  position: absolute;
  background-color: rgba(230,67,152, 0.6);
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  text-align: center;
  color: #fff;
  transition: all .4s;
}

.img-overlay:hover {
  opacity: 1;
}

.img-overlay-text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-weight: 100;
}


/* Meet Us section */
 
.people-wrapper {
  margin: auto;

}

.img-person-wrapper {
  overflow: hidden;
  height: 400px;
  width: 400px;
  margin: auto;
  margin-bottom: 20px;

}

.people-wrapper img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  transition: transform .3s;
}

.img-person-wrapper img:hover {
  transform: scale(1.1);
}

.sue {
  object-position: right;
}



/* Contact Section */

.contact-form-wrapper {
  background: url('../img/wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  align-items: center;

  /* width: 100%; */
  /* position: relative; */
  
}

.contact-form {
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  right: 0;
  margin-right: 200px;
 
}

.contact-form input,
.contact-form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border: transparent;
}

.contact-form input.submit {
  color: #fff;
  border: none;
  background-color: #e64398;
  font-weight: 100;
  border-radius: 5px;
}

.contact-form input.submit:hover {
  background-color: #e757a2;
}

.contact-form ::placeholder {
  color: #e64398;
}

/* contact-icons section */
.contact-icons {
  width: 100%;
  background-color: #e64398;
  padding: 20px;
  display: flex;
  margin-right: 0;
  margin-left: 0;
}

.contact-icons{
  color: #fff;
}

.contact-part {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 5px;
  text-align: center;
  border: 1px solid #fff;
  flex-wrap: wrap;
}

@media(max-width: 992px) {
  .contact-form {
    width: 45%;
    margin-right: 50px;
  }
  /* .contact-form-wrapper {
    height: 80vh;
  } */
}

@media(max-width: 862px) {
  .contact-icons {
    display: block;
    width: 100%
  }
}

@media(max-width: 576px) {
  .contact-form {
    width: 100%;
    margin-right: 15px;
    padding-left: 25px;

    /* left:0; */
    /* margin: 0 auto; */
    /* right: auto;
    margin-right: 15px;
    margin-left: 50px;   */
  }
}

@media(max-width: 554px) {
  #main-nav .container {
    justify-content: flex-end;

  }
  #main-nav .nav {
    flex-direction: column;
    flex-basis: 30%;
    right:0;
    text-align: center;
    margin-right: 20px;
  }

  #main-nav .nav img {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    /* display: none; */
  }
}

@media(max-width: 448px) {
  .people-wrapper img,
  .img-person-wrapper {
    height: 300px;
    width: 100%;
  }

  .contact-form-wrapper {
    height: 80vh;
  }

  .contact-form {
  }
}

